// Detect lightness
@function detectLightness($color) {
  @if (lightness($color) > 60) {
    @return mix($color, #000, 90%);
  } @else {
    @return mix($color, #fff, 90%);
  }
}

// Spacing
@function spacing($type) {
  @if $type == 'compact' {
    @return 12px;
  }
  @if $type == 'spacious' {
    @return 22px;
  } @else {
    @return 16px;
  }
}

// Description
@function desc($display) {
  @if $display == false {
    @return none;
  } @else {
    @return block;
  }
}

// Layout type
@mixin layout-width($type) {
  @if $type == 'small' {
    max-width: 500px;
    min-width: 400px;
  }
  @if $type == 'normal' {
    max-width: 600px;
    min-width: 500px;
  }
  @if $type == 'large' {
    max-width: 800px;
    min-width: 600px;
  }
  @if $type == 'full' {
    width: 100%;
  }
}

// Alignment type
@mixin alignment-type($type) {
  @if $type == 'left' {
    left: 0 !important;
    right: inherit !important;
  }
  @if $type == 'right' {
    right: 0 !important;
    left: inherit !important;
  }
  @if $type == 'center' {
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
  }
}

// Mixin - Shadow type
@mixin shadow-type($type) {
  @if $type == 'light' {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }
  @if $type == 'heavy' {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

// Mixin - highlight
@function set-highlight($highlight, $color) {
  @if $highlight == 1 and lightness($color) < 60 {
    @return mix(#fff, $color, 90%);
  } @else {
    @return darken(detectLightness($color), 30%);
  }
}

@mixin dropdown(
  $main-color: #458ee1,
  $layout-width: normal,
  $layout-type: normal,
  $layout-alignment: 'align',
  $background-color: #ffffff,
  $border-radius: 4,
  $border-width: 1,
  $border-color: #d9d9d9,
  $box-shadow: light,
  $branding-position: bottom,
  $font-size: normal,
  $header-color: #33363d,
  $title-color: #02060c,
  $subtitle-color: #a4a7ae,
  $text-color: #63676d,
  $highlight-color: #3881ff,
  $spacing: normal,
  $include-desc: true,
  $background-category-header: #ffffff,
  $highlight-opacity: 0.1,
  $highlight-type: 'underline',
  $code-background: #ebebeb,
  $responsive-breakpoint: 768px
) {
  $header-size: 1em;
  $title-size: 0.9em;
  $text-size: 0.85em;
  $subtitle-size: 0.9em;
  $padding: spacing($spacing);

  @if $font-size == 'small' {
    $header-size: 0.95em;
    $title-size: 0.8em;
    $text-size: 0.75em;
    $subtitle-size: 0.8em;
  } @else if $font-size == 'large' {
    $header-size: 1.1em;
    $title-size: 1em;
    $text-size: 0.9em;
    $subtitle-size: 1em;
  }

  .blogsearch-autocomplete {
    &.blogsearch-autocomplete-right .bs-dropdown-menu {
      @include alignment-type(right);
      &:before {
        right: 48px;
      }
    }
    &.blogsearch-autocomplete-left .bs-dropdown-menu {
      @include alignment-type(left);
      &:before {
        left: 48px;
      }
    }

    // Dropdown wrapper
    .bs-dropdown-menu {
      position: relative;
      top: -6px;
      border-radius: $border-radius + px;
      margin: 6px 0 0;
      padding: 0;
      text-align: left;
      height: auto;
      background: transparent;
      border: none;
      z-index: 999;
      @include layout-width($layout-width);
      @include shadow-type($box-shadow);

      // Arrow
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 14px;
        height: 14px;
        background: $background-color;
        z-index: 1000;
        top: -7px;
        border-top: $border-width + px solid $border-color;
        border-right: $border-width + px solid $border-color;
        transform: rotate(-45deg);
        border-radius: 2px;
      }

      .bs-suggestions {
        position: relative;
        z-index: 1000;
        margin-top: $padding/2;
        & a:hover {
          text-decoration: none;
        }
      }

      .bs-suggestion {
        cursor: pointer;

        &.bs-cursor {
          .blogsearch-suggestion {
            background-color: rgba($main-color, 0.05);
          }
        }
      }

      [class^='bs-dataset-'] {
        position: relative;
        border: solid $border-width + px $border-color;
        background: $background-color;
        border-radius: $border-radius + px;
        overflow: auto;
        padding: 0 $padding/2 $padding/2;
      }

      // Inner-grid setup
      * {
        box-sizing: border-box;
      }
    }

    // Each suggestion item is wrapped
    .blogsearch-suggestion {
      display: block;
      position: relative;
      padding: $padding/2;
      background: $background-color;
      color: $title-color;
      overflow: hidden;
      border-bottom: solid 1px #eee;
      margin: 0;

      &--header {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        border: none;
        
        &-category {
          opacity: 0.6;
          font-size: $text-size;
        }

        &-tag {
          opacity: 0.6;
          font-size: $text-size;
        }
      }

      &--title {
        padding: 0 $padding/4;
        color: $main-color;
        font-size: $header-size;
        font-weight: bold;

        &::before {
          content: '';
          font-weight: bold;
          color: $main-color;
          display: inline-block;
        }
      }

      &--content {
        width: 100%;
        padding: 0;

        &::before {
          display: none;
        }
      }

      &--wrapper {
        width: 100%;
        float: left;
        padding: 0 0 0 0;
      }

      &--text {
        margin: $padding/4 0 0;
        display: desc($include-desc);
        line-height: 1.4em;
        padding: $padding/3 $padding/2;
        background: #f8f8f8;
        font-size: $text-size;
        opacity: 0.8;
        
        .blogsearch-suggestion--highlight {
          padding: 0 0 1px;
          background: inherit;
          box-shadow: inset 0 -2px 0 0 rgba($main-color, 0.8);
          color: inherit;
        }
      }

      &--no-results {
        width: 100%;
        padding: $padding/2 0;
        text-align: center;
        font-size: 1.2em;

        &::before {
          display: none;
        }
      }

      code {
        padding: 1px 5px;
        font-size: 90%;
        border: none;
        color: #222222;
        background-color: $code-background;
        border-radius: 3px;
        font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;

        .blogsearch-suggestion--highlight {
          background: none;
        }
      }
    }
  }
}
